COPYING
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
build-aux/
configure
src/Makefile.in
Makefile
config.h
config.log
config.status
src/**/.deps/
src/Makefile
stamp-h1
src/openskyd-*
build/
build-aux/
m4/
.dirstamp
coverage.info
*.log
src/**/*.o
src/test/out/
src/test/*.trs
src/test/libtest.a
src/test/test_*
!src/test/test_*.c
.settings/language.settings.xml
*.tar.gz
*.tar.xz
*.opk
*.rbf
*~
*.bck
*.gcno
*.gcda
