.settings
libtool
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
build-aux/
configure
src/Makefile.in
Makefile
config.h
config.log
config.status
src/**/.deps/
src/Makefile
stamp-h1
build/
build-aux/
m4/
.dirstamp
coverage.info
*.log
src/**/.libs/
src/**/*.o
src/**/*.la
src/**/*.lo
src/lib/opensky-lib-example
src/test/out/
src/test/*.trs
src/test/libtest.a
src/test/test_*
src/test/perf_*
!src/test/test_*.c
!src/test/perf_*.c
.settings/language.settings.xml
*.tar.gz
*.tar.xz
*.opk
*.rbf
*~
*.bck
*.gcno
*.gcda
