Package: openskyd
Version: 1.0.3
Description: OpenSky Daemon for client mode
Section: openskyd
Priority: optional
Maintainer: Opensky Network
Architecture: armv7a-vfp-neon
Homepage: http://opensky-network.org
Source: http://opensky-network.org
Depends: radarcaped
