Package: openskyd
Version: 1.0.4
Description: OpenSky Daemon for client mode
Section: openskyd
Priority: optional
Maintainer: OpenSky Network <contact@opensky-network.org>
Architecture: armv7a-vfp-neon
Homepage: http://opensky-network.org
Source: http://opensky-network.org
Depends: radarcaped
Replaces: openskyd-net
