Package: openskyd-net
Version: 1.0.0
Description: OpenSky Daemon for client mode
Section: openskyd
Priority: optional
Maintainer: Sero Systems
Architecture: armv7a-vfp-neon
Homepage: http://opensky-network.org
Source: http://opensky-network.org
Depends: radarcaped
