Source: openskyd
Section: custom
Priority: optional
Maintainer: OpenSky Network <contact@opensky-network.org>
Build-Depends: debhelper (>= 10), autotools-dev, autoconf-archive, pkg-config, dh-systemd, dh-exec
Standards-Version: 3.9.8
Homepage: http://opensky-network.org

Package: opensky-feeder
Conflicts: opensky-feeder-donated, opensky-feeder-kit
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, adduser (>= 3.11)
Description: Feeds ADS-B frames received from dump1090 into the OpenSky Network

Package: opensky-feeder-donated
Conflicts: opensky-feeder, opensky-feeder-kit
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, adduser (>= 3.11), rcc
Description: Feeds ADS-B frames received from dump1090 into the OpenSky Network

Package: opensky-feeder-kit
Conflicts: opensky-feeder, opensky-feeder-donated
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, adduser (>= 3.11)
Description: Feeds ADS-B frames received from dump1090 into the OpenSky Network

Package: libopensky-c++1
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: Library to feed ADS-B frames into the OpenSky Network

Package: libopensky-c++-dev
Section: libdevel
Architecture: any
Depends: libopensky-c++1 (= ${binary:Version})
Description: Library to feed ADS-B frames into the OpenSky Network (development files)
