[Unit]
Description=OpenSky Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/openskyd-dump1090
Restart=on-failure
RestartPreventExitStatus=SIGABRT
RestartSec=10
User=openskyd
Group=openskyd

[Install]
WantedBy=multi-user.target
